<h3>ClientStringPropertyView</h3>

@code {
    [Parameter]
    public ClientStringProperty Data { get; set; }

    protected override void OnInitialized() {
        Data.PropertyChanged += (sender, args) => {
            StateHasChanged();
        };
        base.OnInitialized();
    }
}
