@implements IDisposable

<RadzenCard>
    @if (Data.Type == PropertyType.State) {
        <h4>Enum @Data.Name</h4>
        <h2 class="text-center">@Data.Value</h2>
    } else {
        <h4>Enum @Data.Name</h4>
    }
</RadzenCard>

@code {

    [Parameter]
    public ClientStringProperty Data { get; set; }

    protected override void OnInitialized() {
        Data.PropertyChanged += HandleDataPropertyChanged;
        base.OnInitialized();
    }

    private void HandleDataPropertyChanged(object sender, PropertyChangedEventArgs e) {
        StateHasChanged();
    }

    void IDisposable.Dispose() {
        Data.PropertyChanged -= HandleDataPropertyChanged;
    }

}