@using System.ComponentModel
@implements IDisposable

<RadzenCard>
    <h4>@Data.Name</h4>

    @if (Data.Type == PropertyType.State | Data.Type == PropertyType.Parameter) {
        <h2 class="text-center">@Data.Value</h2>
    }

    @if (Data.Type == PropertyType.Command | Data.Type == PropertyType.Parameter) {
        <div class="input-group justify-content-center">
            @foreach (var option in Data.Format.Split(",")) {
                <RadzenButton class="enum-buttons" Text="@option" Click="() => SetDataValue(option)"></RadzenButton>
            }
        </div>
    }
</RadzenCard>

@code {

    [Parameter]
    public ClientChoiceProperty Data { get; set; }

    protected override void OnInitialized() {
        Data.PropertyChanged += HandleDataPropertyChanged;
        base.OnInitialized();
    }

    private void HandleDataPropertyChanged(object sender, PropertyChangedEventArgs e) {
        StateHasChanged();
    }

    void IDisposable.Dispose() {
        Data.PropertyChanged -= HandleDataPropertyChanged;
    }

    private void SetDataValue(string newValue) {
        Data.Value = newValue;
    }

}