@{
    var index = 0;
    while (index < Data.Properties.Length) {
        <div class="row mt-3">
            @for (int i = 0; i < 3; i++) {
                @if (index < Data.Properties.Length) {
                    if (Data.Properties[index] is ClientTextProperty) {
                        if (Data.Properties[index].DataType == DataType.DateTime) {
                            <div class="col">
                                <ClientDateTimePropertyView Data="(ClientTextProperty)Data.Properties[index]"></ClientDateTimePropertyView>
                            </div>
                        }
                        else {
                            <div class="col">
                                <ClientTextPropertyView Data="(ClientTextProperty)Data.Properties[index]"></ClientTextPropertyView>
                            </div>
                        }
                    }
                    else if (Data.Properties[index] is ClientNumberProperty) {
                        <div class="col">
                            <ClientNumberPropertyView Data="(ClientNumberProperty)Data.Properties[index]"></ClientNumberPropertyView>
                        </div>
                    }
                    else if (Data.Properties[index] is ClientChoiceProperty) {
                        <div class="col">
                            <ClientChoicePropertyView Data="(ClientChoiceProperty)Data.Properties[index]"></ClientChoicePropertyView>
                        </div>
                    }
                    else if (Data.Properties[index].DataType == DataType.Color) {
                        <div class="col">
                            <ClientColorPropertyView Data="(ClientColorProperty)Data.Properties[index]"></ClientColorPropertyView>
                        </div>
                    }
                    else {
                        <div class="col"></div>
                    }
                }
                else {
                    <div class="col"></div>
                }
                index++;
            }
        </div>
    }
}


@code {

    [Parameter]
    public ClientNode Data { get; set; }

}