<RadzenCard>
    <h4>@Data.Caption</h4>
    <h2 class="text-center">@Data.Value</h2>
</RadzenCard>

@code {
    private MqttIndicatorData _data;

    [Parameter]
    public MqttIndicatorData Data {
        get { return _data; }
        set {
            _data = value;

            _data.StateChanged += (sender, args) => {
                Console.WriteLine("BBBBBB State changed");
                this.StateHasChanged();
            };
        }
    }
}