@page "/dashboard"

<div class="container-fluid">
    <RadzenButton Text="Create dashboard" Click="CreateDashboard"></RadzenButton>
    <RadzenTabs>
        <Tabs>
            @foreach (var tab in _tabs) {
                <MqttTab Data="@tab"></MqttTab>
            }
        </Tabs>
    </RadzenTabs>
</div>