@page "/dashboard"

@*<h1>Amazing dashboard x</h1>*@

@*<p>Shelly button state: @_actualState</p>*@

<div class="container-fluid">

    <RadzenTabs>
        <Tabs>
            <RadzenTabsItem Text="Air conditioning unit">
                <RadzenTabs>
                    <Tabs>
                        <RadzenTabsItem Text="General information and properties">

                            <div class="row">
                                <div class="col">
                                    <RadzenCard>
                                        <h4>Actual measured air temperature</h4>
                                        <h2 class="text-center">23.9 °C</h2>
                                    </RadzenCard>
                                </div>
                                <div class="col">
                                    <RadzenCard>
                                        <div>
                                            <h4>Target air temperature</h4>
                                            <a href="javascript:;" @onclick="Edit">
                                                <h2 class="text-center" hidden="@_isEditting">24.0 °C</h2>
                                            </a>
                                        </div>

                                        @*<a href="javascript:;" @onclick="Edit" class="stretched-link"></a>*@

                                        <div class="input-group justify-content-center" hidden="@(!_isEditting)">
                                            <RadzenNumeric ShowUpDown="true" TValue="double" Value="24.0" Placeholder=""/>
                                            <RadzenButton Text="SET" Click="Edit"></RadzenButton>
                                        </div>


                                    </RadzenCard>
                                </div>
                                <div class="col">
                                    <RadzenCard>
                                        <h4>Actual power state</h4>
                                        <h2 class="text-center">ON</h2>
                                    </RadzenCard>
                                </div>
                            </div>

                        </RadzenTabsItem>

                        <RadzenTabsItem Text="Ventilation information and properties">

                        </RadzenTabsItem>

                        <RadzenTabsItem Text="Service related properties">

                        </RadzenTabsItem>
                    </Tabs>
                </RadzenTabs>
            </RadzenTabsItem>

            <RadzenTabsItem Text="Recuperator">

            </RadzenTabsItem>

            <RadzenTabsItem Text="Colorful lightbulb">

            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>

    <!--<h1>Air conditioning unit</h1>
    <div class="row">
        <div class="col">
            <RadzenCard>
                <h4>Actual measured air temperature</h4>
                <h2 class="text-center">23.9 °C</h2>
            </RadzenCard>
        </div>
        <div class="col">
            <RadzenCard>
                <h4>Target air temperature</h4>
                <h2 class="text-center">24.0 °C</h2>
            </RadzenCard>
        </div>
        <div class="col">
            <RadzenCard>
                <h4>Actual power state</h4>
                <h2 class="text-center">ON</h2>
            </RadzenCard>
        </div>
    </div>
    <div class="row">-->
    @*<div class="col-8">col-8</div>
        <div class="col-4">col-4</div>*@
    <!--</div>-->


</div>
@*<button class="btn btn-primary" @onclick="TurnOn">ON</button>
<button class="btn btn-primary" @onclick="TurnOff">OFF</button>*@