@page "/dashboard"

<h1>Amazing dashboard</h1>

<p>Shelly button state: @_actualState</p>

<button class="btn btn-primary" @onclick="TurnOn">ON</button>
<button class="btn btn-primary" @onclick="TurnOff">OFF</button>
