@page "/dashboard"

<div class="container-fluid">
    <p>
        <RadzenButton Text="Regenerate dashboard" Click="CreateDashboard"></RadzenButton>
    </p>
    <RadzenTabs>
        <Tabs>
            @foreach (var homieDevice in _homieDevices) {
                <RadzenTabsItem Text="@homieDevice.Name">
                    <HomieDeviceView Data="@homieDevice"/>
                </RadzenTabsItem>
            }
        </Tabs>
    </RadzenTabs>
</div>