@page "/"

<div class="container-fluid">

    @if (_homieDevices.Count == 0) {
        <h2>@_loadingMessage</h2>
    } else {
        @foreach (var homieDevice in _homieDevices) {
            <h2>@homieDevice.Name</h2>
            <div>
                <HomieDeviceView Data="@homieDevice"/>
            </div>
        }
    }
</div>