@page "/dashboard"

<div class="container-fluid">
    <p>
        <RadzenButton Text="Regenerate dashboard" Click="CreateDashboard"></RadzenButton>
    </p>
    <RadzenTabs>
        <Tabs>
            @foreach (var tab in _tabs) {
                <MqttTab Data="@tab"></MqttTab>
            }
        </Tabs>
    </RadzenTabs>
</div>