@page "/dashboard"

<div class="container-fluid">
    <p>
        <RadzenButton Text="Regenerate dashboard" Click="CreateDashboard"></RadzenButton>
    </p>

    @foreach (var homieDevice in _homieDevices) {
        <h2>@homieDevice.Name</h2>
        <div>
            <HomieDeviceView Data="@homieDevice"/>
        </div>
    }
</div>