@page "/dashboards/{DashboardId}"
@implements IDisposable

<Iterations Items="_nodes" Context="node">
    <MudText Class="mb-2" Typo="Typo.h6" Color="Color.Primary">@node.Name</MudText>

    <MudGrid Class="my-1 d-flex">
        <Iterations Items="node.Properties" Context="property">
            <MudItem Class="pa-1 flex-grow-1">
                <DeviceProperty AlternativePropertyName="@property.AlternativeName" PropertyPath="@property.ActualPropertyPath" />
            </MudItem>
        </Iterations>
    </MudGrid>
</Iterations>

<div class="mt-10">
    <MudButton OnClick="AddNode">Add node</MudButton>
    <MudButton OnClick="RemoveDashboard">Remove dashboard</MudButton>
</div>
